.social__links {
  background-color: var(--primary-color);
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  // medium screens
  @media screen and (min-width: 820px) {
    padding: 5rem 15rem;
    justify-content: space-evenly;
  }

  // large screens
  @media screen and (min-width: 1024px) {
    flex-direction: column;
    padding: 5rem 2rem;
    height: 100vh;
    width: 6.5vw;
  }
}
